<<<<<<< HEAD

body{
    
    background-color: rgb(255, 255, 255);
    overflow: hidden scroll;
    width: 100%;
}
.header{
    position: fixed;
}
.nav{
    position:fixed;
    width:100vw;
    background-color: rgb(0, 0, 0);
    left: 4px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(134, 10, 250, 0.315),rgba(28, 13, 226, 0.4)),url('media/nav_bg2.jpg');
    background-size: cover;
}
.nav a{
    margin:20px; 
    padding:4px 8px;
    font-size: 25px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.nav a:hover{
    color:rgb(238, 101, 10);
    transform: translateY(1px);
}

 #drop{
    width: 100vw;
    background-color: transparent;
    display:flex;
    justify-content: center;
    transition:top 0.5s;
}
.dropbuttons{
    position:fixed;
    margin:auto;
    transition:top 0.6s;
}
.dropbuttons button{
  float: left;
  display: block;
  margin:0 4px;
  font-size: 15px;
  color: rgb(41, 27, 27);
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
}
.dropbuttons button:hover{
    cursor: pointer;
    color:rgb(11, 121, 21);
    
}


.footer{
    position:static;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('media/nav_bg.jpg');
    background-size: cover;
    padding:0%;  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer .block{
    margin-left: 40px;;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-transform: uppercase;
}
.footer a{
    text-decoration: none;
    color:blueviolet;
    padding:5px 10px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-weight: lighter;
}
.footer a:hover{
    color:rgb(238, 101, 10);
    text-decoration: dotted;
    font-weight: bold;
}



.social-media{
    position:fixed;
    top:50%;
    left:0;
    display:block;
   
}
 .fa{
    width:auto;
    font-size: 25px;
    display: block;
    padding:12px;
    text-decoration: none;

}
.fa-facebook {
    background: #11327a;
    color: white;
}
.fa-youtube{
    background-color: red;
    color:white
}
.fa-twitter{
    background-color: rgb(9, 90, 212);
    color:white;
}
.social-media .fa:hover{
    opacity: 0.7;
}

#myVideo{
    max-width: 100%;
    max-height: 100%;
}
.container{
    margin:40px;
    padding:20px;
    font-size: 22px;
    line-height: 150%;
    line-break: auto;
    font-family: 'Zen Kurenaido', sans-serif;
}

.container .textbox{
    position:relative;
    top:0px;
    left:0px;
    mix-blend-mode: multiply;
    transform: translateY(-80px);
    text-align: center;
    justify-content: center;
    color:rgb(58, 58, 201)
}
.container #started{
    
    width: max-content;
    color:blueviolet;
    font-size: 20px;
    padding:10px;
    margin:10px;
}
.container #started:hover{
    color:rgb(0, 0, 0);
    background-color: transparent;
=======
body{
    background-color: darkgrey;
    margin: 0;
    padding: 0;

}
.top{
    text-decoration: none;
    display: flex;
    background-color:whitesmoke;
    box-shadow: gray;
    font-size: 40px;
}
.top a{
    text-decoration: none;
    margin-left: 10px;
    text-align: center;
    font-size:40px;
    background-attachment: fixed;
    background-color:none;
}
.material{
    background-color:none;
    font-family: serif;
    width:600px;
    float: left;
}
.material ol{
    font-size:30px;
    font-family: Cochin;

}
.top a:hover{
    background-color: #ff9800;
    transition-delay: 100ms;
    font-size:42px;
    text-shadow: 1px 2px 4px #ff8900;
}
#reg {
    font-size: 38px;
    float: right;
    text-align: right;
    text-shadow: transparent;
    font-family: sans-serif;
    
}
#sign {
    font-size: 38px;
    float: right;
    text-align: center;
    text-shadow: none;
    font-family: sans-serif;
    padding-right: 3px;
>>>>>>> f85b991f98a9336615c2ae5d3f6b2b6bebabd036
}