/* for top heading and bottom which in common */

    
  
.top{
    font-style: courier ;
    text-decoration: none;
    display: flex;
    background-color:gray;
    position: relative;
    line-height: 90px;
    box-shadow: 0 0 40px gray, 0 0 40px gray , 0 0 40px gray;
    border-radius:50px;
    font-size: 40px;
}
.top a{
  color: #ff7733;
  text-shadow: 0px 1px 2px  #f1b085;
    text-decoration: none;
    margin-right :25px;
    margin-left: 10px;
    border-radius: 50px;
         text-align: center;
    font-size:40px;
    background-attachment: fixed;
   
}
.top a:hover{
  background-color: none;
 /* color:rgba(88, 89, 90, 1.9);*/
 color: #2fc92f;
  transition-duration: 0.2s;
  transition-delay: 0.1s;
  transition-timing-function: ease-out;

  text-shadow: 2px 2px 4px  #fd8e44;
}
html{
  scroll-behavior: smooth;
}
/* material for content */
.material{
   
    border-radius: 25px;
  list-style-type: none;
  overflow: none;
  margin-top: 80px;
  margin-left: 350px;
  margin-bottom: 500px;
  position: absolute;
    background-color: #ccccb3;
    font-family: serif;
    font-size: 30px;
    width:70%;
    justify-items: center;
    float: left;
   
    box-shadow: 4px 2px 20px 30px #c0c0c0;
}


.material h1{
margin:20px 35px;
  font-size: 30px;
}

.material h3{
    display:inline-table;
 margin-left:20%;
 text-decoration: underline;
  font-weight: lighter;
  margin-bottom: 20%;
  font-size: 20px;
}


          
.material:hover{
    transition-delay: 0.5s;
    transition-duration: 5.0s;
    transition-timing-function: ease-out;
    box-shadow: 6px 4px 18px 15px #ffb366;
}
.material .fas{
    padding:5px;
    width:25px;
    height:25px;
    margin-left: 40px;
}
.material fab {
    position: relative;
  
    padding:5px;
    width:25px;
    height:25px;
    
}
.material .navigate a{
  text-decoration:none;
  padding: 10px;
  text-transform: lowercase;
  color: blue;
  font-size: 20px;
  font-family: sans-serif;
  margin: 30px 30px;
  
  border-left-width: 2px solid rgba(0,0,0,0.07);
}


.material a:hover{
  color: #0cb912;

  font-weight: bold;
  text-decoration: underline;

}
.material .fas{
    margin-right: 10px;
}


.dropbutton {
    display:flex;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    width:150px;
    text-align: left;
    margin-left: 40px;
    font-size: 19px;
    border: none;
    cursor: pointer;
   
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
     margin-top: 20px;
     line-height: 10px;
    position: relative;
    display: inline-block;
    margin-left: 40px;
  }

  /* Dropdown Content (Hidden by Default) */
  .content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    width:200px;
    margin-left: 20px;
    list-style-type: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
  }
  
  /* Links inside the dropdown */
  .content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    list-style-type: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .content a:hover {background-color: #f1f1f1;
box-shadow:0 0 10px #c0c0c0,0 0 20px #c0c0c0,0 0 40px #c0c0c0;
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .content {
    display: block;
   border-radius: 20px;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbutton {
    background-color: rgb(250, 122, 36);
    border-radius: 20px;
    border-color: #4CAF50;
    transition-duration: 0.4s;
    box-shadow:  15px 0px 20px #0cb912;
  }
  .dropdown .dropbutton .fas fa-microchip  {
      
      width: 20px;
      color: white;

  }
  .lowpanel{
      margin-top: 100px;
  }
  .lowpanel  a{
     display: flex;
     text-decoration: none;
     width: 180px;
     color: black;
     font-size: 15px;
     
     padding: 18px;
     border-bottom: 2px solid rgba(0,0,0,0.07);
     border-top: 1px solod rgba(225,225,225,0.09);
     line-height: 20px;
     text-align: center; 
     text-transform: uppercase;
  }
  .lowpanel a:hover{
      color:#FF6700;
      display:block;
      font-size: 18px;
      
      box-shadow:  15px 0px 18px #0cb912;

  }
  /* social media*/
  
   .socialmedia {
      position: absolute;
      padding: 30px;
      padding-top: 240px;
      
      margin-left: 10px;
      display:flex;
    }
       .socialmedia a{
        
        margin-right: 25px;
        
          display: block;
          height: 20px;
        
     color:#0cb912;
     opacity:0.5;
     width:40px;
  }
 
  .socialmedia a:hover{
      color:#ff6600;
      opacity:20;
     
    text-shadow: 0 0 10px #0cb912,0 0 20px #0cb912;
    transition-duration: 0.7s;
  }